container_commands:
  01_migrateall:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: adonate_api.settings
    PYTHONPATH: "/opt/python/current/app/adonate_api:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: adonate_api/adonate_api/wsgi.py
    NumProcesses: 3
    NumThreads: 20

  aws:elasticbeanstalk:container:python:staticfiles:
    option_name: /static/
    value: static/